# Monad Testnet
CHAIN_ID=10143
RPC_URL=https://testnet-rpc.monad.xyz
EXPLORER_BASE_URL=https://monad-testnet.socialscan.io

# Safe
SAFE_ADDRESS=
SAFE_API_KEY=
SAFE_TX_SERVICE_URL=https://api.safe.global/tx-service/monad-testnet/api/v1
SAFE_CREATE_CALL=0x9b35Af71d77eaf8d7e40252370304687390A1A52

# Admin
SAFE_OWNER_1=
SAFE_OWNER_2=
SAFE_OWNER_3=

# Optional canonical WMON
WMON_ADDRESS=
FEE_TO_SETTER=
FACTORY_ADDRESS=

# Web
VITE_CHAIN_ID=10143
VITE_RPC_URL=https://testnet-rpc.monad.xyz
VITE_EXPLORER_BASE_URL=https://monad-testnet.socialscan.io
VITE_WALLETCONNECT_PROJECT_ID=
